.button {
  @apply flex justify-center items-center w-full px-6 py-3 rounded-md text-black-dark text-base bg-white hover:bg-black-dark hover:text-white duration-default;

  &-icon {
    @apply w-5 h-5 mr-2;

    svg {
      @apply w-full h-full;
    }
  }
}
