[data-cid="profile"] {
  @apply flex flex-col gap-4 items-center justify-center;
}

.profile {
  &-image {
    @apply w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden;

    img {
      @apply w-full h-full object-cover;
    }
  }

  &-name {
    @apply text-lg font-semibold text-black-dark;
  }

  &-description {
    @apply text-sm text-center text-black-light font-light;

    text-wrap: pretty;

    a {
      @apply underline;
    }
  }
}
